<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171917678122-60eksu3gsvvgdvu92rinbm81oet2ka5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171917678122-60eksu3gsvvgdvu92rinbm81oet2ka5g</string>
	<key>API_KEY</key>
	<string>AIzaSyBaStqaYtuedNIAh3Q-tGpeDoav_dPuX98</string>
	<key>GCM_SENDER_ID</key>
	<string>171917678122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onewho.Hinger-for-jobs</string>
	<key>PROJECT_ID</key>
	<string>hinger-for-jobs</string>
	<key>STORAGE_BUCKET</key>
	<string>hinger-for-jobs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171917678122:ios:803411e4f64f1e302d9553</string>
	<key>DATABASE_URL</key>
	<string>https://hinger-for-jobs-default-rtdb.firebaseio.com</string>
</dict>
</plist>