<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42986975771-q526ba2l81jkafvhrcvun4as8ri21lnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42986975771-q526ba2l81jkafvhrcvun4as8ri21lnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCtvl0tOsj66WikM-_piTsbm4J4YUpgu6k</string>
	<key>GCM_SENDER_ID</key>
	<string>42986975771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onewho.startchain</string>
	<key>PROJECT_ID</key>
	<string>startchain-904cc</string>
	<key>STORAGE_BUCKET</key>
	<string>startchain-904cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42986975771:ios:2d6a12a1eabdbefc0f3ebe</string>
</dict>
</plist>